logs
project/project
project/target
public/javascripts/jquery-1.9.0.min.js
target
tmp
.history
dist
/.idea
*.iml
/out
/.idea_modules
.classpath
.project
/RUNNING_PID
.settings
play-2.1.0
../../framworks
